<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEB SAHIFA</title>
</head>

<body>





{% comment %} 1 masala all_books {% endcomment %}
{% for i in all_books %}
<h1>  masala.1 == all_books  </h1>
{{i.title}}
{% endfor %}


{% comment %} 3 masla all_authours {% endcomment %}
{% for i in all_authours %}
<h1>  masala.3 == all_authours  </h1>
{{i.name}}
{% endfor %}


{% comment %} 5 masala all_genre {% endcomment %}
{% for i in all_genre %}
<h1>  masala.5 == all_genre  </h1>
{{i.name}}
{% endfor %}












</body>

</html>